<a href="https://colab.research.google.com/github/seemantsarkar/17June/blob/main/Assignment_26_06_23.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
n=int(input("Enter number of rows:"))
if(n%2==0):
  n=int(n/2)
  m=n
else:
  n=int((n+1)/2)
  m=n-1
for i in range(1,n+1):
  for j in range(1,i+1):
    print("*",end=(" "))
  print("\n")
for i in range(m,0,-1):
  for j in range(i,0,-1):
    print("*",end=(" "))
  print("\n")

Enter number of rows:7
*

* *

* * *

* * * *

* * *

* *

*

In [17]:
n=int(input("Enter the number of rows: "))
for i in range(1,n+1):
  if i==1 or i==n:
    for j in range(1,n+1):
      print("*",end="   ")
    print("\n")
  else:
    for j in range(1,n+1):
      if j in range(2,n):
        print(" ",end="   ")
      else:
        print("*",end="   ")
    print("\n")

Enter the number of rows: 5
*   *   *   *   *

*               *

*               *

*               *

*   *   *   *   *

In [21]:
n=int(input("Enter the number of rows: "))
for i in range(1,n+1):
  print(i)
  for j in range(1,i+1):
    print("*",end=" ")
  print("\n")

Enter the number of rows: 5
1
*

2
* *

3
* * *

4
* * * *

5
* * * * *

In [22]:
n=int(input("Enter upto which number: "))
for i in range(2,n+1):
  print(i,end=" ")
  for j in range(1,(i*i)+1):
    print("*",end=" ")
  print("\n")

Enter upto which number: 5
2 * * * *

3 * * * * * * * * *

4 * * * * * * * * * * * * * * * *

5 * * * * * * * * * * * * * * * * * * * * * * * * *

In [3]:
thisset={1,True,"Apple","apple","banana","orange","orange"}
thisset

{1, 'Apple', 'apple', 'banana', 'orange'}

In [5]:
#difference()-Returns a set containing the difference between two or more sets.
x={1,2,3,4,5,6,7,8}
y=((1,2,3,4))
z=x.difference(y)
print(z)

{5, 6, 7, 8}

In [18]:
#issubset()-Returns whether another set contains this set or not.
x={1,2,3,4,11}
y={1,2,3,4,5,6,7,8}
print(type(x),type(y))
z=x.issubset(y)
print(z)

<class 'set'> <class 'set'>
False

In [19]:
#isdisjoint()-Returns whether two sets have a intersection or not
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "facebook"}

z = x.isdisjoint(y)

print(z)

True

In [20]:
#issuperset()-Returns whether this set contains another set or not
x = {"f", "e", "d", "c", "b", "a"}
y = {"a", "b", "c"}

z = x.issuperset(y)

print(z)

True

In [21]:
#symmetric_difference()-Returns a set that contains all items from both sets, except items that are present in both sets:

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.symmetric_difference(y)

print(z)

{'microsoft', 'banana', 'google', 'cherry'}

In [24]:
#symmetric_difference_update()-Remove the items that are present in both sets, AND insert the items that is not present in both sets:

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y)

print(x)

{'microsoft', 'banana', 'google', 'cherry'}

In [25]:
# Python code to demonstrate
#call by value
str = "Seemant"       #string is immutable.
def test(string):
  string = "Monika"
  print("Inside Function:", string)
test(str)
print("Outside Function:", str)

Inside Function: Monika
Outside Function: Seemant

In [26]:
# Python code to demonstrate
# call by reference
def add_more(list):
    list.append(50)
    print("Inside Function", list)

# Driver's code
mylist = [10,20,30,40]
add_more(mylist)      #list is mutable
print("Outside Function:", mylist)

Inside Function [10, 20, 30, 40, 50]
Outside Function: [10, 20, 30, 40, 50]